@use "styles/global/global" as *;
.container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0 space(5);
  gap: 10px;

  margin: space(5) 0;
  &--light {
    @include color(white-c, bg);
  }
  &--dark {
    @include color(element-d, bg);
  }
  &__items {
    position: absolute;

    top: 50px;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: space(2);
    align-items: flex-start;
    padding: space(3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border-radius: 10px;
  }
}
@include break("md") {
  .container {
    width: 200px;
    cursor: pointer;
    &__items {
      width: 200px;

      span {
        cursor: pointer;
      }
    }
  }
}
