$colors: (
  element-d: hsl(209, 23%, 22%),
  background-d: hsl(207, 26%, 17%),
  text-l: hsl(200, 15%, 8%),
  input-l: hsl(0, 0%, 52%),
  background-l: hsl(0, 0%, 98%),
  white: hsl(0, 0%, 100%),
);
