@use "styles/global/global" as *;
.container {
  &__inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: space(8);
    > :last-child {
      margin-right: space(10);
    }
  }
  &__countries {
    margin: space(10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
@include break("md") {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    align-items: center;
    margin: auto;
    padding-right: space(5);
    padding-left: space(5);
    &__inputs {
      flex-direction: row;
      border-radius: 10px;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      > :last-child {
        margin-right: 0px;
      }
    }
    &__countries {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}
